<!DOCTYPE html>
<html>
  <head>
    <title><%= Sucess %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Login confirmed! %></h1>
    <p>Welcome again!<%= title %></p>
  </body>
</html>
