<!DOCTYPE html>
<html>
  <head>
    <title>Library - Paginário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
      <p class="h1">Welcome to <%= title %></p>
  </body>
</html>
