<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
<h1>aaaaaaaaaaa</h1>

    <%produtosFiltrados.forEach((produto)=> { %>
      <p><%=produto.titulo%></p>
      <%})%>
  </body>
</html>
