<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%= nomeProduto%>
  <body>
    <h1><%=id%></h1>
        <ul>
            <li>
                <a href="/produtos/produto-1">Produto 1</a>
            </li>

            <li>
                <a href="/produtos/produto-2">Produto 2</a>
            </li>

            <li>
                <a href="/produtos/produto-3">Produto 3</a>
            </li>
        </ul>
  </body>
</html>
